form(action="/todos")
  input(type="text",name="q")
  button Search
ul
  each todo in todos
    li= todo.text
    
form(action="/todos/create", method="POST")
  input(type="text",name="text")
  button Create