form(action="/todos")
  input(type="text",name="q")
  button Search
ul
  each action in actions
    li= action.name
    
form(action="/todos/create", method="POST")
  input(type="text",name="name")
  button Create