
ul
  each book in books
    li
      span= book.text
      span &nbsp 
      a(href="/books/" + book.id + "/delete/" ) Delete
    
form(action="/books/create", method="POST")
  input(type="text",name="text")
  button Create