h1 Transaction
form(action="/transactions/create", method="POST", id="transactionForm")
  select(form="transactionForm")
    each val in users
      option(value=val.id)= val.text 
  select(form="transactionForm")
    each val in books
      option(value=val.id)= val.text 
  button Create