h1 Transaction

ul
  each transaction in transactions
    li
      if transaction.
      span= transaction.u
      
      span &nbsp 
      a(href="/users/" + user.id + "/delete/" ) Delete
      span &nbsp 
      a(href="/users/"+user.id+"/update/" ) Update

form(action="/transactions/create", method="POST", id="transactionForm")
  select(form="transactionForm", name="userId")
    each val in users
      option(value=val.id)= val.text 
  select(form="transactionForm", name="bookId")
    each val in books
      option(value=val.id)= val.text 
  button Create